
.campaign{
	position: relative;
	margin: 0px auto;
	margin-top: 50px;
	width: 700px;
	height: 200px;
	background-color: #FFEAEA;
	font-family: light-font;

	border-color: #BC2A2A;
	border-width: 0px;
	border-style: solid;

	box-shadow: 1px 1px 5px #696969;
}

.campaign-img{
	width: 200px;
	height: 100%;

	position: relative;
	
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;	
    background-color: white;
}

.campaign .title{
	position: absolute;
	top: 15px;
	left: 200px;
	font-family: light-font;
	padding-top: 10px;
	font-size: 22px;
	color: white;
	background-color: #BC2A2A;
	padding: 5px 15px;
}

.link-to-campaign{
    position: absolute;
    bottom: 12%;
    right: 6%;
    
    display: inline-block;
    font-family: light-font;
    font-size: 17px;
    background-color: #E84649;
    text-decoration: none;
    padding: 4px 13px;
    color: white;
}

.link-to-campaign:hover{
	background-color: #BC2A2A;
	color: white;
	text-decoration: none;
}

.creator-icon{
	position: relative;
	left: 230px;
	top: -148px;
	font-family: light-font;
	font-size: 22px;
	color: #BC2A2A;
	right: 60px;


}

.creator-icon:before{
	content:"";
	position: relative;
	display: inline-block;

	top: 14px;
	left: -5px;

	height: 40px;
	width: 40px;
	background-color: red;
	border-radius: 50px;

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.mem-number{
	position: relative;
	top: -77px;
	left: 228px;
	font-size: 18px;
	display: inline-block;
}

.loading-bar{
	position: relative;
	left: 228px;
	top: -137px;
	background-color: #A9A9A9;
	width: 400px;
	height: 5px;
	z-index: 10;
}

.loading-bar:after{
	content: "";

	display: block;

	height: 100%;

	background-color: #BC2A2A;
}