@charset "utf-8";
/* CSS Document */

#logo{
    background-image: url(../template/resources/footer-res/logo2.png);
}

#second-lines, #sigla-container{
    border-color: #BC2A2A;    
}

#sigla-container h1{
    color: #BC2A2A;
}

#sigla-container{
	top: 21% !important;
}

.small-title{
	font-family: light-font;
	color: #BC2A2A;
	font-size: 25px;
}

.big-title{
	font-family: med-font !important;
}

.hr{
	height: 4px !important;
	margin-left: 0px !important;
}

.set-margin{
	margin: 35px 0px 5px 25px;
}

.hr2{
	width: 110%;
	height: 2px;

	background-color: #BC2A2A;
	margin-left: 25px;
}

/*
	This is login-form
*/

#register-form{
	position: relative;
	display: inline-block;
	left: 15%;
	margin-top: 13%;
	width: 60%;
}

#register-form input[type='text'], #register-form input[type='password']{
	display: block;
	
	position: relative;
	margin: 0px 0px 25px 25px;
	padding: 5px 10px;
	font-size: 18px;

	width: 450px;

	background-color: white;
	
	border-color: #BC2A2A;
	border-width: 1px;
	border-style: solid;
	display: inline-block;
}

#register-form input[type='text']:focus, #register-form input[type='password']:focus{
	outline: none;
	background-color: #FAFFBD;
}

input[type='submit']{
	position: relative;
	color: #BC2A2A ;

	font-family: med-font;

	font-size: 22px;
	background-color: white;
	
	width: 233px;

	padding: 2px 0px;
	
	left: 50%;
	transform: translateX(-50%);

	margin-top: 45px;
	margin-bottom: 85px;
	border-color: #BC2A2A;
	border-width: 2px;
	border-style: solid;
}

input[type='submit']:hover{
	background-color: #BC2A2A;
    color: #EFEFEF;
    cursor: pointer;
}


#final-alert-danger{
	position: relative;

	width: 65%;
	left: 15%;
	margin-top: 10%;
	margin-bottom: -11%;
}

.alert-info, .alert-success{
	display: none;
	margin-left: 25px;
}

.alert{
	padding: 8px !important;
}

div#mceu_21 {
	width: 106%;
    margin: 10px 0px 35px 25px;
}

