@charset "utf-8";
/* CSS Document */
#logo{
    background-image: url(../template/resources/footer-res/logo2.png);
}

#second-lines, #sigla-container{
    border-color: #BC2A2A;    
}

#sigla-container h1{
    color: #BC2A2A;
}

#sigla-container{
	top: 21% !important;
}

.small-title{
	font-family: light-font;
	color: #BC2A2A;
	font-size: 30px;
}

.big-title{
	font-family: med-font !important;
}

.hr{
	height: 4px !important;
	margin-left: 0px !important;
}

#create-form{
	position: relative;
	width: 70%;
	margin-top: 250px;
	left: 180px;

	margin-bottom: 100px;
}

.set-margin{
	margin: 45px 0px 5px 25px;
}

input{
	display: block;
}

.hr2{
	width: 110%;
	height: 2px;

	background-color: #BC2A2A;
	margin-left: 25px;
}

#create-form input, textarea{
	display: block;
	
	position: relative;
	margin: 0px 0px 25px 25px;
	padding: 5px 10px;
	font-size: 18px;
	
	border-color: #BC2A2A;
	border-width: 1px;
	border-style: solid;
}

#create-form input:focus{
	outline: none;
	background-color: #EFEFEF;
}

textarea{
	height: 150px;
	width: 500px;
	resize: none;
	margin: 0px 0px 25px 25px;
}

#submitproduct{
	position: relative;
	display: inline-block;
	color: #BC2A2A ;
	margin-bottom: 25px;
	font-family: med-font;
	border-width: 3px;
	font-size: 22px;
	background-color: white;

	width: 450px;
	left: 50%;
	transform: translateX(-50%);
	margin-top: 80px;

	padding: 8px 10px;

	border-color: #BC2A2A;
	border-width: 4px;
	border-style: solid;
}

#submitproduct:hover{
	background-color: #BC2A2A;
    color: white;
    cursor: pointer;
}

.alert{
	margin-left: 25px;
	display: none;
}


#campaign-img{
	position: relative;
	width: 200px;
	height: 200px;
	background-image: url("../../products_data/default/avatar.png");
	background-size: 170px 170px;
	background-position: center;
	background-repeat: no-repeat;
	margin: 15px 0px 25px 30px;
	background-color: #EFEFEF;

	border-width: 5px;
	border-style: solid;
	border-color: #BC2A2A;
}

#campaign-img:after{
	content: "Change me";
	display: none;
	font-family: med-font;
	background-color: rgba(0, 0, 0, 0.3);
	color: #EFEFEF;
	font-size: 25px;
	text-shadow: 1px 1px 3px black;

	text-align: center;
	padding-top: 43%;

	height: 100%;

}

#campaign-img:hover:after{
	cursor: pointer;
	display: block;
}
