@charset "utf-8";
/* CSS Document */

#logo{
    background-image: url(../template/resources/footer-res/logo2.png);
}

#second-lines, #sigla-container{
    border-color: #BC2A2A;    
}

#sigla-container h1{
    color: #BC2A2A;
}

#sigla-container{
	/*top: 18% !important;*/
	display: none;
}

#campaign-title{
	position: relative;
	display: block;
	text-align: center;
	font-family: med-font;
	font-size: 45px;
	color: #BC2A2A ;
	margin-top: 50px;
}

.hr{
	position: relative;
	width: 65%;
	height: 4px;
	background-color: #BC2A2A;
	margin: 0px auto;
	margin-top: 36px;
	margin-bottom: 36px;
}

#top-container{
	position: relative;
	margin: 0px auto;
	width: 900px;
	height: auto;
}

.details-container, .campaign-img{
	position: relative;
	
	display: inline-block;
}

.campaign-img{

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 400px;
	height: 350px;
}

.details-container{
	float: right;
	width: 400px;
	height: 300px;
}

.creator{
	position: relative;
	top: -20px;
	font-family: light-font;
	font-size: 25px;

}
.creator:after{
	position: relative;
	display: inline-block;
	content: "";

	width: 50px;
	height: 50px;
	background-position: center;
	background-size: cover;

	border-radius: 50px;
	top: 20px;
	left: 10px;
}

.loading-bar{
	background-color: #A9A9A9;
	width: 100%;
	height: 8px;
}

.loading-bar:after{
	content: "";

	display: block;

	height: 100%;

	background-color: #BC2A2A;
}

.p-style{
	font-family: light-font;
	font-size: 20px;
	
}

#last-p{
	margin-top: 10px;
	position: relative;
	float: right;

}

.p-title{
	font-family: light-font;
	font-size: 28px;
	color: #BC2A2A;
	margin-bottom: 50px;

	text-align: center;
}

#title-desc{
	text-align: center;
	font-size: 35px;
	color: #BC2A2A;
	font-family: light-font;
	margin-bottom: 35px;
}

.campaign-desc{
	position: relative;
	display: block;
	
	left: 50%;
	transform: translateX(-50%);

	width: 900px;
	height : auto;
	padding: 55px ;
}

button{
	position: absolute;
	bottom: -50px;
	width: 100%;
	height: 45px;
	background-color: white;

	border-color: #BC2A2A;
	border-style: solid;
	border-width: 3px;

	font-family: med-font;
	font-size: 25px;
}

#leaveCampaign{
	background-color: #BC2A2A;
	color: white;
}

#leaveCampaign:hover{
	background-color: white;
	color: #BC2A2A;
}

#joinCampaign{
	background-color: white;
	color: #BC2A2A;
}

#joinCampaign:hover{
	background-color: #BC2A2A;
	color: white;
}