@charset "utf-8";
/* CSS Document */

#logo{
    background-image: url(../template/resources/footer-res/logo2.png);
}

#second-lines, #sigla-container{
    border-color: #BC2A2A;    
}

#sigla-container h1{
    color: #BC2A2A;
}

#sigla-container{
	top: 21% !important;
}

.small-title{
	font-family: light-font;
	color: #BC2A2A;
	font-size: 25px;
}

.big-title{
	font-family: med-font !important;
	margin-top: 200px;
	margin-left: 150px;
}

.hr2{
	width: 75%;
	height: 4px;

	background-color: #BC2A2A;
	margin-left: 150px;
	margin-top: 25px;
}

#keyword{
	margin-left: 150px;
	width: 250px;
	padding: 5px 15px 5px 25px;
	font-family: light-font;
	font-size: 22px;

	color: #BC2A2A;
	border-color: #BC2A2A;
	border-style: solid;
	border-width: 1px;
}

#keyword:focus {
	outline:0;
}

#campaigns-container{
	width: 700px;
	margin-bottom: 150px;
	margin-left: 200px;
}

.alert-info{
	font-family: light-font;
	font-size: 25px;
	margin-left: 150px;
	margin-top: 30px;
	width: 70%;

	display: none;
}