@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: bold-font;
    src:url(../fonts/Brandon_bld.otf);
}

@font-face {
    font-family: light-font;
    src: url(../fonts/Brandon_light.otf);
}

@font-face {
    font-family: med-font;
    src: url(../fonts/Brandon_med.otf);
}

*{
    padding: 0px;
    margin: 0px;
    border: 0px;
}

html, body{
    height: 100%;
}

body{
    background-color: #EFEFEF !important;
}

.content-zone{
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -82px;
}

.content-zone:after {
  content: "";
  display: block;
  height: 82px;
}

a:hover{
    text-decoration: none;
}

a{
    text-decoration: none;
}

/*
#BC2A2A
#CAEBF2
#A9A9A9
#E84649
#EFEFEF
*/