#advanced-search{
    position: relative;
    left: 45%;
    margin-top: 3%;
    
    
}
label:not(.ignored){
    
    position:relative;
    right: 270%;
    
        
}
#logo{
    background-image: url(../template/resources/footer-res/logo2.png);
}
#second-lines, #sigla-container{
    border-color: #BC2A2A;    
}

#sigla-container h1{
    color: #BC2A2A;
}

#sigla-container{
	top: 21% !important;
}

#information,#search-panel{
	position: relative;
	
	left: 15%;
	
	
	margin-top: 13%;
	
	position: relative;
	margin: 0px 0px 25px 25px;
	padding: 5px 10px;
	font-size: 18px;

	background-color: white;
	
	border-color: #BC2A2A;
	border-width: 1px;
	border-style: solid;
}

#information{
    width: 20%;
    left : 60%;
    background-color: #EFEFEF;
}
#search-panel{
    margin-top: 1%;
    left: 25%;
    width: 41%;
    
}

/**/



#services-container{
    position: relative;
    margin-top: 20%;
    left: 31%;
    transform: translateX(-50%);
    width: 788px;
    word-break:break-all; 
    display:block;
    
}

.service{
    position: relative;
    
    display:block;
    
/*    height: 220px;*/
    background-color: #EFEFEF;
    
    
    border: 7px dotted #E84649;
    	
    
    font-family: light-font;

    text-align: center;
    margin-top: -30%;
    
    left : 50%;
    margin-right: 30%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
}

#image{
    position: relative;
    
    width: 180px;
    height: 220px;
    background-color: #EFEFEF;
    
    border-style: solid;
    border-width: 8px;
    border-color: #E84649;
    
    font-family: light-font;

    text-align: center;
    margin-top: 4%;
    left : 20%;
}


.service{
       display:block;
}

.service a,#joinGroup{
    font-size: 17px;
    
    background-color: #E84649;
    text-decoration: none;
    
    padding: 4px 13px;
    color: white;
}


.service a:hover{
    color: white;
    background-color: #BC2A2A;
}

.hr2{

    margin-top: 2%;
    width: 130%;
    height: 2px;

    background-color: #BC2A2A;
    margin-left: -15%;
    margin-bottom: 2%;
}
p, h3{
    text-align: center;
}
h3{
    margin-top: 7%;
}