@charset "utf-8";
/* CSS Document */

#bg{
    position: relative;
    height: 100%;
    width: 100%;
    background-image: url(../home-res/pattern.png), url(../home-res/background.jpg);
    background-repeat: repeat, no-repeat;
    background-position: center;
    background-size: auto, cover;
    z-index: 0;
    margin-top: -75px;
}

#bg:after{
    content: "";

    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.2);
}


/*
    These are the servicies
*/

#services-container{
    position: relative;
    margin-top: -100px;
    left: 50%;
    transform: translateX(-50%);
    width: 788px;
}

.service{
    position: relative;
    
    width: 180px;
    height: 220px;
    background-color: #EFEFEF;
    
    border-style: solid;
    border-width: 8px;
    border-color: #E84649;
    
    font-family: light-font;

    text-align: center;
    float:left;
}

.service p{
    font-size: 17px;
    color: black;
    font-family: light-font;
    padding: 15px;
}

.service a{
    position: relative;
    top: -10px;
    font-size: 17px;
    
    background-color: #E84649;
    text-decoration: none;
    
    padding: 4px 13px;
    color: white;
}

.service a:hover{
    color: white;
    background-color: #BC2A2A;
}

#products-logo, #groups-logo, #campaigns-logo{
    
    position: relative;
    left: 50%;
    top: 5%;
    transform: translateX(-50%);
    width:  80px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#products-logo{

    background-image: url(../home-res/products.png);

}

#groups-logo{

    background-image: url(../home-res/groups.png);

}

#campaigns-logo{

    background-image: url(../home-res/campaigns.png);

}

#groups{
    margin-left: 100px;
    margin-right: 100px;
}

/*
    This is the description
*/

#description-container{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 650px;
    height: 30%;
    
    color: #EFEFEF;
}

#description-container p{
    font-family: light-font;
    font-size: 22px;
    text-align: center;
    font-style: italic;
    text-shadow: 1px 1px 2px black;
}

#description-container p:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

#description-container p:after {
  color: #ccc;
  content: close-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

/*This is the campaigns container*/
#campaigns-container-home{
    position: relative;
    width: 850px;
    margin: 0px auto;
    margin-top: 300px;
    
    position: relative;
    margin-bottom: 50px;
}

/*
    Some settings for index page header
*/

header{
    background-color: transparent !important;
}

#menu a{
    margin-top: 41px;
    padding: 8px 15px 8px 15px !important;
    transition: color .15s ease-in-out !important;
}

#menu a:hover:before{
    height: 100% !important;
}

#menu a:before{
    top: 0px !important;
    transition: height .2s ease-out !important;
}

#logo{
    background-image: url(../template/resources/footer-res/logo.png);
}

#second-lines, #sigla-container{
    border-color: #EFEFEF;    
}

#sigla-container h1{
    color: #EFEFEF;
    text-shadow: 0px 0px 10px black;
}


/*
#BC2A2A
#CAEBF2
#A9A9A9
#E84649
#EFEFEF
*/