@charset "utf-8";
/* CSS Document */

#logo{
    background-image: url(../template/resources/footer-res/logo2.png);
}

#second-lines, #sigla-container{
    border-color: #BC2A2A;    
}

#sigla-container h1{
    color: #BC2A2A;
}

#sigla-container{
	top: 21% !important;
}

.small-title{
	font-family: light-font;
	color: #BC2A2A;
	font-size: 25px;
}

.big-title{
	font-family: med-font !important;
}

.hr{
	height: 4px !important;
	margin-left: 0px !important;
}

.set-margin{
	margin: 10px 0px 0px 25px;
}

.hr2{
	width: 110%;
	height: 2px;

	background-color: #BC2A2A;
	margin-left: 25px;
}

/*
	This is login-form
*/

#login-form{
	position: relative;
	display: block;
	left: 15%;
	margin-top: 13%;
	width: 60%;
}

#login-form input[type='text'], #login-form input[type='password']{
	display: block;
	
	position: relative;
	margin: 0px 0px 25px 25px;
	padding: 5px 10px;
	font-size: 18px;

	background-color: white;
	
	border-color: #BC2A2A;
	border-width: 1px;
	border-style: solid;
}

#login-form input[type='text']:focus, #login-form input[type='password']:focus{
	outline: none;
	background-color: #FAFFBD;
}

input[type='submit']{
	position: relative;
	color: #BC2A2A ;

	font-family: med-font;

	font-size: 22px;
	background-color: white;
	
	width: 233px;

	padding: 2px 0px;
	
	margin-top: 25px;
	margin-bottom: 25px;
	border-color: #BC2A2A;
	border-width: 2px;
	border-style: solid;
}

input[type='submit']:hover{
	background-color: #BC2A2A;
    color: #EFEFEF;
    cursor: pointer;
}

/*
	Vertical line
*/

.vr{
	position: absolute;
	top: 17%;
	width: 4px;
	height: 50%;
	left: 550px;

	background-color: #BC2A2A;
}

.join-text{
	position: absolute;
	left: 600px;
	top: 30%;
	font-family: light-font;
	font-size: 20px;
	color: #676767;
}

#final-alert-danger{
	position: relative;

	width: 65%;
	left: 15%;
	margin-top: 10%;
	margin-bottom: -11%;
}