#advanced-search{
    position: relative;
    left: 45%;
    margin-top: 3%;


}
label:not(.ignored){

    position:relative;
    right: 270%;


}
#logo{
    background-image: url(../template/resources/footer-res/logo2.png);
}
#second-lines, #sigla-container{
    border-color: #BC2A2A;    
}

#sigla-container h1{
    color: #BC2A2A;
}

#sigla-container{
    top: 21% !important;
}

#information,#search-panel{
    position: relative;

    left: 15%;


    margin-top: 13%;

    position: relative;
    margin: 0px 0px 25px 25px;
    padding: 5px 10px;
    font-size: 18px;

    background-color: white;

    border-color: #BC2A2A;
    border-width: 1px;
    border-style: solid;
}

#information{
    width: 20%;
    left : 60%;
    background-color: #EFEFEF;
}
#search-panel{
    margin-top: 1%;
    left: 25%;
    width: 41%;

}

/**/



#services-container{
    position: relative;
    margin-top: -100px;
    left: 50%;
    transform: translateX(-50%);
    width: 788px;
    word-break:break-all; 
    display:block;

}

.service{
    position: relative;

    display:block;

    /*    height: 220px;*/
    background-color: #EFEFEF;

    border-style: solid;
    border-width: 8px;
    border-color: #E84649;

    font-family: light-font;

    text-align: left;
    margin-top: -43%;

    left : 60%;
    margin-right: 30%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
   
}
.service h1{
    text-align: center;
}

#image{
    position: relative;

    width: 300px;
    height: 320px;
    background-color: #EFEFEF;

    border-style: solid;
    border-width: 8px;
    border-color: #E84649;

    font-family: light-font;

    text-align: center;
    margin-top: 10%;
    left : 35%;
}
#image img{

    max-width:100%;
    max-height:100%;
}


.service{
    display:block;
}

.service a{
    font-size: 17px;

    background-color: #E84649;
    text-decoration: none;

    padding: 4px 13px;
    color: white;
}


.service a:hover{
    color: white;
    background-color: #BC2A2A;
}
#description{
    margin-top: 10%;
    text-align: center;
    font-size: 18px;
}
.hr2{

    margin-top: 2%;
    width: 130%;
    height: 2px;

    background-color: #BC2A2A;
    margin-left: -15%;
}
#randomProductsContainer{
    font-size: 20px;
    text-align: center;

}
#randomProductsContainer img:not(#userPhoto){

    display: block;
    overflow: scroll;
    width : 200px;
    height: 200px;


}
#randomProductsContainer b{
    color :  green;
    font-size: 30px;
}
#review{
    text-align: center;
}
#userPhoto{
    width: 32px;
    height:32px;
}
.service{
 font-size: 30px;  
}
#inside{
    margin-top: 5%;
}
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
#content{
    position: absolute;
    margin-top: 10%;
    margin-left : 15%;
}
