@charset "utf-8";
/* CSS Document */

#logo{
    background-image: url(../template/resources/footer-res/logo2.png);
}

#second-lines, #sigla-container{
    border-color: #BC2A2A;    
}

#sigla-container h1{
    color: #BC2A2A;
}

#sigla-container{
    top: 21% !important;
}

.small-title{
    font-family: light-font;
    color: #BC2A2A;
    font-size: 25px;
}

.big-title{
    font-family: med-font !important;
    margin-top: 200px;
    margin-left: 150px;
}

.hr2{
    width: 75%;
    height: 4px;

    background-color: #BC2A2A;
    margin-left: 150px;
    margin-top: 25px;
}

#keyword{
    margin-left: 150px;
    width: 250px;
    padding: 5px 15px 5px 25px;
    font-family: light-font;
    font-size: 22px;

    color: #BC2A2A;
    border-color: #BC2A2A;
    border-style: solid;
    border-width: 1px;
}

#keyword:focus {
    outline:0;
}

#groups-container{
    width: 80%;
    margin-top: 50px;
    margin-bottom: 150px;
    margin-left: 130px;
    display: inline-block;
}

.alert-info{
    font-family: light-font;
    font-size: 25px;
    margin-left: 150px;
    margin-top: 30px;
    width: 70%;

    display: none;
}

.this-group{
    position: relative;
    display: inline-block;

    height: 190px;
    min-width: 280px;

    border-color: #BC2A2A;
    border-style: solid;
    border-width: 5px;
    margin: 25px;
}

.top-group{
    padding: 10px 60px 12px 60px;
    text-align: center;

    background-color: #BC2A2A;
    color: white;

    font-family: light-font;
    font-size: 22px;

}

.this-group a{
    padding: 5px 15px;
    font-family: light-font;
    font-size: 18px;

    background-color: #E84649;
    color: white;
    text-decoration: none;
}

.this-group a:hover{
    cursor: pointer;
    background-color: #BC2A2A;
}

.creator, .members-number{
    font-family: light-font;
    font-size: 18px;
    margin-left: 25px;
}

.view-btn{
    position: relative;
    display: inline-block;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);

}

.members-number{
    margin-top: 5px;
}
.creator:after{
    content:"";
    position: relative;
    display: inline-block;

    top: 9px;
    right: -5px;

    height: 30px;
    width: 30px;
    background-color: red;
    border-radius: 50px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}