#advanced-search{
    position: relative;
    left: 45%;
    margin-top: 3%;

}

#logo{
    background-image: url(../template/resources/footer-res/logo2.png);
}
#second-lines, #sigla-container{
    border-color: #BC2A2A;    
}

#sigla-container h1{
    color: #BC2A2A;
}

#sigla-container{
    top: 21% !important;
}

#input-form,#search-panel{
    position: relative;

    left: 15%;


    margin-top: 13%;

    position: relative;
    margin: 0px 0px 25px 25px;
    padding: 5px 10px;
    font-size: 18px;

    background-color: white;

    border-color: #BC2A2A;
    border-width: 1px;
    border-style: solid;
}

#input-form{
    width: 60%;
    left : 20%;
    background-color: #EFEFEF;
}
#search-panel{
    margin-top: 1%;
    left: 25%;
    width: 41%;

}
#example_wrapper{
    width:80%;
    left:11%;
}

