@charset "utf-8";
/* CSS Document */
.content-zone{
	overflow: hidden;
}
#logo{
    background-image: url(../template/resources/footer-res/logo2.png);
}

#second-lines, #sigla-container{
    border-color: #BC2A2A;    
}

#sigla-container h1{
    color: #BC2A2A;
}

#sigla-container{
	top: 21% !important;
	display: none;
}

.small-title{
	font-family: light-font;
	color: #BC2A2A;
	font-size: 25px;
}

.big-title{
	font-family: med-font !important;
	margin-top: 200px;
	margin-left: 150px;
}

.hr2{
	position: relative;
	width: 75%;
	height: 4px;

	background-color: #BC2A2A;
	margin-top: 25px;
}

#keyword{
	margin-left: 150px;
	width: 250px;
	padding: 5px 15px 5px 25px;
	font-family: light-font;
	font-size: 22px;

	color: #BC2A2A;
	border-color: #BC2A2A;
	border-style: solid;
	border-width: 1px;
}

#keyword:focus {
	outline:0;
}

.user-title{
	position: relative;

	text-align: center;
	font-family: med-font;
	font-size: 40px;
	color: #BC2A2A;

	margin-top: 30px;
}

.info-container{
	position: relative;
	width: 700px;
	height: 200px;

	left: 50%;
	transform: translateX(-50%);

	margin-top: 50px;
	margin-bottom: 30px;
	display: inline-block;
}

#user-avatar, #stats{
	height: 100%;

	display: inline-block;
}

#user-avatar{

	width: 30%;

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#stats{
	width: 60%;
	float: right;
}

#hello{
	position: relative;
	margin-top: 30px;
	font-family: light-font;
	font-size: 20px;
	color: #BC2A2A;
}

.stats{
	font-family: light-font;
	font-size: 18px;
	color: black;
}

.btn-container{
	position: relative;

	left: 50%;
	transform: translateX(-50%);

	width: 750px;
	height: 50px;
	margin-top: 50px;
	display: inline-block;
}

.btn-container button{
	position: relative;
	display: inline-block;

	padding: 5px 55px;
	font-family: light-font;
	font-size: 25px;

	color: white;

	background-color: #E84649;

}

.btn-container button:hover{
	background-color: #BC2A2A;
}

#right{
	float: right;
}

#center{
	left: 21%;
	transform: translateX(-50%);
}


#keyword{
	position: relative;
	width: 250px;
	padding: 5px 15px 5px 25px;
	font-family: light-font;
	font-size: 22px;

	color: #BC2A2A;
	border-color: #BC2A2A;
	border-style: solid;
	border-width: 1px;

	left: 4%;
}

#keyword:focus {
	outline:0;
}

#campaigns-container{
	width: 700px;
	margin-bottom: 150px;
	margin-left: 200px;
}

.alert-info{
	font-family: light-font;
	font-size: 25px;
	margin-left: 150px;
	margin-top: 30px;
	width: 70%;

	display: none;
}

.my-campaigns{
	position: relative;
	display: none;
	top: -15px;
}

#camp-title{
	position: relative;
	display: block;
	left: 4%;
	margin-top: 60px;
}