@charset "utf-8";
/* CSS Document */


footer{
    position: relative;
    background-color: #E0E0E0;
    height: 82px;
}

footer *{
    position: relative;
    display: inline-block;
}

/*This is the menu*/
footer nav{
    top: 50%;
    transform: translateY(-50%);
    margin-left: 25px;
}

footer nav a, footer p{
	font-family: light-font;
    color: #BC2A2A;
    padding: 0px 12px;
    text-decoration: none;
}

footer nav a:hover{
    background-color: #BC2A2A;
    color: #EFEFEF;
}

footer p{
    position: absolute;
    font-size: 20px;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
}

footer p:before{
    position: absolute;
    content: "";
    background-image: url(../resources/footer-res/logo.png);
    background-size: contain;
    width: 30px;
    height: 30px;
    left: -25px;
}