@charset "utf-8";
/* CSS Document */

h1{
    margin: 0px !important;
}

*{
    -webkit-box-sizing: unset !important; 
    -moz-box-sizing: unset !important;
    box-sizing: unset !important; 
}

header{
    position: relative;
    height: 75px;
    background-color: #BC2A2A;
    z-index: 3;
}

#user-account{
    position: absolute;
    left: 3%;
    top: 29px;
    z-index: 2;
    display: none;
}

#user-account div:first-child, #user-account div:last-child{
    background-color: #EFEFEF;

    border-style: solid;
    border-width: 4px;
    border-color: #BC2A2A;
    
   

    cursor: pointer;
}

#arrow-btn{
    position: absolute;
    right: -69px;
    top: 38px;

    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    
    border-top: 17px solid #BC2A2A;

    z-index: 5;

    cursor: pointer;
}

#user-account div:first-child{
    position: relative;

    width: 85px;
    height: 85px;

    border-radius: 100px;

    z-index: 3;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

#user-account div:last-child{
    position: relative;
    left: 83px;
    padding: 2px 37px 2px 12px;
    z-index: 1;
    
    top: -67px;

    color: #BC2A2A;
    font-family: med-font;
    font-size: 20px;
     
}

#user-account nav{
    position: absolute;
    top: 66px;
    right: -83px;
    width: 93%;
    height: auto;

    background-color: #EFEFEF;
    display: none;

    border-style: solid;
    border-color: #BC2A2A;
    border-width: 4px;
    border-top-width: 0px;
}

#user-account nav a{
    display: block;
    position: relative;
    z-index: 2;
    height: auto;
    
    font-family: med-font;
    font-size: 16px;
    text-decoration: none;
    color: #EFEFEF;
    text-align: center;

    padding-top: 2px;
    padding-bottom: 2px;

    color: #BC2A2A;

    /*transition: color .15s ease-in-out;*/
}

#user-account nav a:hover{
    color: white;
}

#user-account nav a:before{
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: -1;
    
    height: 100%;
    width: 100%;
    
    opacity: 0;

    background-color: #BC2A2A;
   /*transition: opacity .15s ease-in-out;*/

}

#user-account nav a:hover:before{
    opacity: 1;
}

#menu{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 110px;
    right: 30px;
}

#menu a{
    position: relative;
    z-index: 2;
    
    font-family: med-font;
    font-size: 19px;
    text-decoration: none;
    color: #EFEFEF;
    padding: 41px 15px 25px 15px;
    float: left;
    
	text-shadow: 1px 1px 2px black;
    transition: color .25s ease-in-out;

}

#menu a:before{
    content: "";
    position: absolute;
    top:  -41px;
    left: 0%;
    z-index: -1;
    
    width: 100%;
    height: 0%;
    
    background-color: #EFEFEF;
    transition: height .25s ease-out;
}

#menu a:hover:before{
    height: 134px;
}

#menu a:hover{
    color: #BC2A2A;
	text-shadow: none;
}

/*This is Sigla*/
#sigla-container{
    width: 80%;
    height: 50%;
}

#sigla-container, #logo, #second-lines, #sigla-container h1{
    position: absolute;
}

#sigla-container, #logo, #second-lines{
    left: 50%;
    transform: translate(-50%, -50%);
}

#second-lines, #sigla-container{
    border-top-width: 5px;
    border-bottom-width: 5px;
    
    border-style: solid;
}

#second-lines{
    top: 50%;
    width: 50%;
    height: 138%;
}

#sigla-container{
    position: absolute;
    top: 28%;
    
    width: 650px;
    height: 50px;  
    z-index: 7;
}

#logo{
    top: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    
    width: 100px;
    height: 100px;
}

#sigla-container h1{
    top: 50%;
    transform: translateY(-50%);
    font-family: light-font;
    font-size: 35px;
}

#first-h{
    left: 20px;
}

#second-h{
    right: 15px;
}



/*     New user menu     */

#user-menu{
    position: fixed;
    top: 0px;
    height: 0px;

    height: 100%;
    width: 250px;

    background-color: rgba(10,0,0,0.8);
    z-index: 20;
}

.user-data{
    position: absolute;

    width: 200px;
    height: 100px;
    background-color: white;
}

a, a:hover{
    text-decoration: none;
}