    <footer>
        <nav id="menu-footer">
            <a href="#home-top">HOME</a>
            <a href="#home-top">CATEGORIES</a>
            <a href="/login">LOGIN</a>
            <a href="#home-top">REGISTER</a>
            <a href="#home-top">ABOUT US</a>
        </nav>
        <div id="sigla-footer-container">
            <div id="sigla-footer"></div>
            <p>EDeC - COPYRIGHT 2016 &copy;</p>
        </div>
    </footer>