    <nav id="menu">
        <a href="#home-top">HOME</a>
        <a href="#home-top">CATEGORIES</a>
        <a href="#/login">LOGIN</a>
        <a href="#home-top">REGISTER</a>
        <a href="#home-top">ABOUT US</a>
    </nav>

    <div id="sigla-container">
        <div id="second-lines"></div>
        <div id="logo"></div>
        <h1 id="first-h">Ethic Decisions</h1>
        <h1 id="second-h">for Consummers</h1>
    </div>